<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="butter.droid.base">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <!-- Receivers -->
        <receiver
            android:exported="false"
            android:name=".manager.internal.updater.NewUpdatesBroadcastReceiver">
            <intent-filter>
                <action android:name="butter.droid.updater.NewUpdatesBroadcastReceiver.ACTION_UPDATE_AVAILABLE" />
                <action android:name="butter.droid.updater.NewUpdatesBroadcastReceiver.ACTION_NO_UPDATE_AVAILABLE" />
                <action android:name="butter.droid.updater.NewUpdatesBroadcastReceiver.ACTION_ERROR_DOWNLOADING" />
            </intent-filter>
        </receiver>

        <!-- Services -->
        <service android:name="butter.droid.base.torrent.TorrentService" />
        <service android:name=".manager.internal.updater.ButterUpdaterService" />
    </application>

</manifest>
